$color-white: #fff;
$color-default: #3a3838;
$color-theme: #d27c21;//#db4437

$color-background: #262626;
$color-title: $color-theme;
$color-link: #0075BC;
$color-link-hover: $color-default;
$color-border: #ebebeb;