body {
  margin: 0;
}
a {
  color: $color-link;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $color-link-hover;
    transition: color 0.2s;
  }
}

p {  
  margin: 0.5em 0;
  &:first-of-type {
    margin-top: 0;
  }
}

.col-1, 
.col-2,
.col-3,
.col-4 {
  width: 100%;
}



.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;  
}

.main-wrap {  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main {  
  width: 49%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.map {
  width: 50%;
}