
// Font family
$font-sans: 'Roboto', sans-serif, Arial;
$font-serif: 'Noto Serif', serif, Georgia;
// Font sizes

$font-default: 17px;

// Spaccing
$margin-sm: 8px;
$margin-md: 12px;
$margin-lg: 16px;
$margin-xl: 20px;